:root {
  --mainTextColor: #06060B;
  --labelTextColor: #222222;
  --softTextColor: #898989;
  --semiSoftTextColor: #948E97;
  --invertedTextColor: #F5F5FA;

  --primaryColor: #0066FF;
  --secondaryColor: #5D00FF;

  --baseBgColor: #FCFCFC;
  --semiBaseBgColor: #D9D9D9;
  --mainBgColor: #5D00FF;
  --semiMainBgColor: #8686FF;
  --semiSoftBgColor: #DFDFFF;
  --softBgColor: #F2F2F8;
  --rowBgColor: #F8F8F8;
  --warningColor: #FFF06C;
  --dangerColor: #FF7A7A;

  --fontFamily: 'Raleway', sans-serif;
  --secondFontFamily: 'Poppins', sans-serif;
}
html.is-dark-mode {
  --mainTextColor: #F5F5FA;
  --labelTextColor: #bdbdbd;
  --softTextColor: #948E97;
  --semiSoftTextColor: #948E97;
  --invertedTextColor: #06060B;
  --buttonTextColor: #F5F5FA;

  --primaryColor: #0066FF;
  --secondaryColor: #5D00FF;

  --baseBgColor: #131313;
  --semiBaseBgColor: #06060B;
  --mainBgColor: #5D00FF;
  --semiMainBgColor: #8686FF;
  --semiSoftBgColor: #42445880;
  --softBgColor: #F2F2F8;
  --rowBgColor: #F8F8F8;
  --warningColor: #FFF06C;
  --dangerColor: #FF7A7A;

  --fontFamily: 'Raleway', sans-serif;
  --secondFontFamily: 'Poppins', sans-serif;
}