.signup__container {
  padding: 1.5rem 2rem;
  background-color: var(--baseBgColor);
  min-height: 100vh;
}

.signup__body {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: left;
}

.form__container {
  margin-top: 1rem;
}

.form__footer {
  margin-top: 1rem;
}

.signup__footer {
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .signup__container {
    padding: 4rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .signup__header {
    flex-direction: row;
    column-gap: 1rem;
  }
  .signup__body {
    margin-left: 0;
    margin-top: 5rem;
  }
}