.button__container {
  width: 100%;
  margin: 1rem 0;
  padding: .8rem 0;
  position: relative;
  text-align: center;
  border: none;
  border-radius: .25rem;
  background-color: var(--mainBgColor);
  color: var(--invertedTextColor);
  font-family: var(--fontFamily);
  font-weight: 600;
  color: var(--buttonTextColor);
  cursor: pointer;
  z-index: 9;
}

.button__container:hover.button__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(93, 0, 255), rgb(255, 0, 255), rgb(4, 0, 255));
  filter: blur(28px);
  opacity: .5;
  border-radius: .5rem;
  background-size: 800%;
  z-index: -1;
  animation: btnbg 4s linear infinite;
}

.button__container:hover:disabled {
  opacity: .5;
  cursor: not-allowed;
}
.button__container:hover:disabled.button__container::before {
  animation: none;
}

@keyframes btnbg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}